
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffd7d7;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    text-align: left;
}

th {
    padding: 20px;
    background-color: #0270ff;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    width: 33%;
}

a {
    text-decoration: none;
    color: white;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #0270ff;
    cursor: pointer;
    background-color: #0270ff;
    color: white;
    width: 100%;
}

.conten-img {
    width: 100%;
    max-width: 300px; /* Limitar el ancho máximo de la imagen */
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    float: right; /* Colocar la imagen a la derecha */
    margin-left: 20px; /* Espacio entre la imagen y el texto */
}

.content-table {
    width: 80%;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border-spacing: 0;
}

.content-table td {
    vertical-align: top; /* Asegura que el texto esté alineado correctamente al lado de la imagen */
    padding: 10px;
}

.title {
    text-align: center;
    color: #0270ff;
    font-size: 24px;
    padding-bottom: 15px;
}

.content-table td {
    text-align: justify;
    font-size: 16px;
    color: #333;
}

/* Media queries */
@media (max-width: 767px) {
    .conten-img {
        float: none;
        margin: 0 auto;
        display: block;
        width: 100%; /* Hacer que la imagen ocupe el 100% en pantallas pequeñas */
    }

    .content-table {
        width: 100%; /* Ocupar el 100% del ancho en pantallas pequeñas */
    }
}
